.wp-inspector-option-grid {
	align-items: center;
	column-gap: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
	margin-bottom: 24px;

	.components-base-control {
		margin-bottom: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Fix for large images that break layout.
.ant-image {
	max-width: 100%;
	height: auto !important;

	img {
		height: auto !important;
		max-width: 100%;
	}
}

// Fix for typography settings specific to the Gutenberg editor.
.ant-typography {
	color: inherit;

	del,
	u {
		.rich-text {
			text-decoration: inherit;
		}
	}
}
